<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Scaler Academy: Psych!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="app">
    <div class="personal">
        <a href="#">Edit Profile</a>
        <a href="#">Leaderboard</a>
        <a href="/logout" class="logout">Logout <b>{{ playerAlias }}</b> </a>
    </div>
    <hr>
    <div v-if="currentGame">
        <div class="section">
            {{ gameState.id }}
            {{ gameState.numRounds }}
            {{ gameState.mode }}
            {{ gameState }}
        </div>
    </div>
    <div v-else>
        <div class="section create">
            <div class="heading">Create Game</div>
            <label for="rounds">Number of Rounds</label>
            <input type="number" id="rounds" v-model="numRounds">

            <label for="ellen">Has Ellen?</label>
            <input type="checkbox" id="ellen" v-model="hasEllen">
            <div class="modes">
                <div class="cards">
                    <div v-for="mode in gameModes"
                         class="card"
                         v-on:click="createGame(mode.title)">
                        <div class="title"> {{ mode.title }}</div>
                        <img :src="mode.image" alt="">
                        <div class="description"> {{ mode.description }}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="section join">
            <div class="heading">Join Game</div>
            <label for="code">Secret Code</label>
            <input id="code" type="text">
        </div>
    </div>
</div>
<script src="js/app.js"></script>
</body>
</html>